{% extends "base.html" %}

{% block title %}Soldered Documentation Buddy{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    
    <div class="welcome-text">
        <p>Welcome to Soldered Documentation Buddy! This app is meant to streamline writing documentation for Soldered products. It automates these processes:</p>
        <ul>
            <li>Creating all the required files for a product group and getting the code to add these pages to the sidebar</li>
            <li>Creating images of highlighted jumpers and components on the board</li>
            <li>Generating the 'at a glance' page</li>
            <li>Generating the 'hardware details' page</li>
            <li>Partially generating the 'how it works' page</li>
            <li>Generating the Arduino 'getting started' page</li>
        </ul>
    </div>
    
{% endblock %}